.class-select-active{
    background-color: rgba(36, 36, 43, 0.705);
    color: aliceblue;
    border-radius: 2px;
    width: 95%;
    left:20px;
}

.details-button-overview{
    border: 1px solid black ;
    background-color: #ffffff;
    color: black;
    border-radius: 0px;
    padding: 5px;
    margin-bottom: 5px;
}

.obj-description{
    margin-left: 125px;
}
.obj-list{
    background-color: #ffffff;
    position:fixed;
    z-index: 2;
    border: 1px solid black ;
    padding: 5px;
    
}
