
.level-adjust-button{
        min-width: 40px;
        font-size: 22px;
        align-self: center;
        border-radius: 45%;
        border: 1px solid black;
        box-shadow: 2px 2px 5px black;
        background-color: #ffffff;
    
}
.level-adjust-box{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 15px;
}