.character-details-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    gap:15px;
    animation: rollout 1s ease-in forwards;
    padding-bottom: 20px;
}

.character-defensive-ind-box{
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    box-shadow: 1px 1px 1.5px black;
    justify-content: center;
    background-color: #E1F5FE;
    gap:20px;
}

.character-details-speed-ft{
    margin: auto;
    display: flex;
    justify-content: center;
}

@keyframes rollout{
    0%{
        opacity: 0;
    }
    25%{
        opacity: .25;
    }
    50%{
        opacity: .5;
    }
    75%{
        opacity: .75;
    }
    100%{
        opacity: 1;
    }
}