.generic-info{
    max-width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2vh;
    flex-grow: 1;
    justify-content: center;
}
.character-NameClass{
    max-width: 100%;
    min-width: 100%;
    display: flex;
   justify-content: space-evenly;
}
.character-stats-area{
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.character-stats-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main-body{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
    box-shadow: 3px 3px 3px  black;

    color: #000000d8;
    font-size: 14px;
    font-weight: bold;
    background-color: #afc2cb;
}