.ancestry-select-area{
    display: flex;
    gap: 15px;
    text-align: center;
}
.ancestry-select{
    text-align: center;
}

.ancestry-select-box{
    border: 1px solid black ;
    background-color: #ffffff;
}
